.feature-tasks-card {  
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "h h"
        "e e"
        "T t";
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.feature-tasks-h { 
    grid-area: h;
    text-align: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
}

.feature-tasks-e { 
    grid-area: e;
    display: flex;
    justify-content: center;
    align-items: center; 
    line-height: 2ch;
    background-color: var(--gray-light);
    border-radius: 5px;
}

.feature-tasks-t { 
    grid-area: t;
    display: flex;
    flex-direction: column;
    line-height: 3ch;
    font-size: 14px;
}

.feature-tasks-T { 
    grid-area: T;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    line-height: 3ch;
    border-right: 2px solid var(--gray-dark);
    font-size: 14px;
}